* {
    margin: 0;
    padding: 0;
    margin: 0px;
    font-weight: 400;
  }
  
  h1, h2, h3, h4, p, a {
    font-family: 'Inria Serif';
  }

  h1 {
    padding: 10%;
  }
  
  .nav {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;  
      background-image: radial-gradient(circle at 90% 25%, #ff8426, #ffb47a,#ff4b3b82);
      height: 50px;
      font-size: 18px;
    }

    a {
        text-decoration: none;
        color: black;
        margin-right: 20px;
        margin-left: 30px; 
        margin-bottom: 8px;
      }
