<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>who are we?</title>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inria Serif' rel='stylesheet'>  
    <link rel="stylesheet" href="/css/about-us-style.css">
</head>
<header>
    <div class = "nav">
        <a href="/">home</a>
        <a href="lets-talk-ramen">let's talk ramen</a>
        <a href="about-us">about us</a>
    </div>
</header>
<body>
    <div class="about-us">

        <div class="title-block">
            <h1 id = "red-text"><em><strong>
                who are we?
            </strong></em></h1>
        </div>

        <div class="flex-container">
            <div>
                <img src="https://content.codecademy.com/courses/web-101/web101-image_brownbear.jpg" 
                alt="anusha!">
            </div>
            <div>
                <h2><em><strong>anusha</strong></em></h2>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah</p>
            </div>
        </div>

        <div class="flex-container">
            <div>
                <h2><em><strong>thillai</strong></em></h2>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah</p>
            </div>
            <div>
                <img src="https://content.codecademy.com/courses/web-101/web101-image_brownbear.jpg" 
                alt="thillai!">
            </div>
        </div>

           
    </div>
</body>
</html>