<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit a review!</title>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inria Serif' rel='stylesheet'>  
    <link rel="stylesheet" href="/css/form-style.css">
</head>
<header>
    <div class = "nav">
        <a href="/">home</a>
        <a href="/reviews">let's talk ramen</a>
        <a href="/form">submit a review</a>
        <a href="/about-us">about us</a>
    </div>
</header>
<body>
    <form action="/submit" method="post">
        <!-- This is a single-line comment -->
    </form> 
</body>