<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit a Review</title>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inria Serif' rel='stylesheet'>  
    <link rel="stylesheet" href="/css/form-style.css">
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/reviews">Let's Talk Ramen</a>
            <a href="/form">Submit a Review</a>
            <a href="/about-us">About Us</a>
        </nav>
    </header>

    <main>
        <h1>Submit a Review!</h1>
        <p>Here, you can add a pair of ratings and reviews for a ramen.</p>
        <p>Be sure to include the date of the review and an image of the ramen as well!</p>

        <form action="/form/submit" method="post" enctype="application/x-www-form-urlencoded">

            <div class="form-group">
                <label for="ramenName">Ramen Name</label>
                <input type="text" id="ramenName" name="ramenName" required>
            </div>

            <div class="form-group">
                <label for="date">Review Date</label>
                <input type="date" id="date" name="date" required>
            </div>

            <div class="form-group">
                <label for="image">Image of Ramen (URL)</label>
                <input type="url" id="image" name="image" required>
            </div>

            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" id="rating" name="rating" min="1" max="5" required>
            </div>

            <div class="form-group">
                <label for="text">Write Review Here</label>
                <textarea id="text" name="text" required></textarea>
            </div>

            <button type="submit" class="submit">Submit</button>
        </form>
    </main>
</body>
</html>