<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home-page</title>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inria Serif' rel='stylesheet'>  
    <link href='https://fonts.googleapis.com/css?family=Libre Barcode 128' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Handjet' rel='stylesheet'>
    <link rel="stylesheet" href="/css/home-page-style.css">
</head>

<header>
    <div class = "nav">
        <a href="/">home</a>
        <a href="lets-talk-ramen">let's talk ramen</a>
        <a href="about-us">about us</a>
    </div>
</header>

<body>
    <div class = "intro">
        <div class = "title-block">
            <h1>welcome to</h1>
            <h1 id = "red-text"><em>the Ramen blog</em></h1>
            <p><em>by thillai & anusha</em></p>
            <br>
            <h3><em>A story of two college kids, a convenience store, and a terrible dining hall </em></h3>
        </div>
        <img src = "https://i.pinimg.com/564x/4a/48/0b/4a480bb6e0258a07a8427aae3ecf87ef.jpg">
    </div>

    <div class = "breaking-news">
        <div class = "loop-text">
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
        </div>
    </div>

    <div class = "scroll-recent-reviews">
        <div class = "recent-review">
            <p>Ramen Name</p>
            <img src = "https://i.pinimg.com/474x/bb/5a/a9/bb5aa91e1cbf43d8f47502108c61838a.jpg">
        </div>
        <div class = "recent-review">
            <p>Ramen Name</p>
            <img src = "https://i.pinimg.com/474x/bb/5a/a9/bb5aa91e1cbf43d8f47502108c61838a.jpg">
        </div>
        <div class = "recent-review">
            <p>Ramen Name</p>
            <img src = "https://i.pinimg.com/474x/bb/5a/a9/bb5aa91e1cbf43d8f47502108c61838a.jpg">
        </div>
        <div class = "recent-review">
            <p>Ramen Name</p>
            <img src = "https://i.pinimg.com/474x/bb/5a/a9/bb5aa91e1cbf43d8f47502108c61838a.jpg">
        </div>
        <div class = "recent-review">
            <p>Ramen Name</p>
            <img src = "https://i.pinimg.com/474x/bb/5a/a9/bb5aa91e1cbf43d8f47502108c61838a.jpg">
        </div>
        <div class = "recent-review">
            <p>Ramen Name</p>
            <img src = "https://i.pinimg.com/474x/bb/5a/a9/bb5aa91e1cbf43d8f47502108c61838a.jpg">
        </div>
        <div class = "recent-review">
            <p>Ramen Name</p>
            <img src = "https://i.pinimg.com/474x/bb/5a/a9/bb5aa91e1cbf43d8f47502108c61838a.jpg">
        </div>
    </div>
    <div class = "breaking-news">
        <div class = "loop-text">
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
            <p>breaking news: new reviews  *</p>
        </div>
    </div>
    <br>

    <div class = "the-leader-board">
        <div class = "text-leader-board">
            <div id = "red-line">
                <img src = "https://i.pinimg.com/564x/4f/c4/02/4fc40283dd662d5a2764ce2f5fdda3fe.jpg">
                <br>
                <br>
                <h2>We’ve tried a lot of Ramen ...
                    Which makes us Ramen experts -- 
                    so here are some of our faves  </h2>
                <h2>--></h2>
                <br>
                <br>
            </div>
                <div class = "recommend">
                    <form>
                        <label for="ramen-rec">Recommend us a Ramen to try next below :)</label><br>
                        <textarea  name="ramen-rec"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
        </div>
        <div class = "receipt">
            <br>
            <h2>THE RAMEN BLOG</h2>
            <div class = "time-date">
                <p>11:37 PM</p>
                <p>03/02/24</p>
            </div>
            <br>
            <ol>
                <li>Jin Ramen Spicy</li>
                <li>Jin Ramen Mild</li>
                <li>JIN!!!</li>
                <li>JIN!!!</li>
                <li>JIN!!!</li>
                <li>JIN!!!</li>
            </ol>
            <p>Thank you for your visit. Stop by often!</p>
            <p>The Ramen Leaderboard</p>
            <h4>This is a Barcode I guess</h4>
            <br>
        </div>
    </div>

    <br>

</body>
</html>