<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inria Serif' rel='stylesheet'>  
    <link rel="stylesheet" href="/css/sign-in-style.css">
</head>

<header>
    <div class = "nav">
        <a href="/">home</a>
        <a href="/reviews">let's talk ramen</a>
        <a href="/form">submit a review</a>
        <a href="/about-us">about us</a>
    </div>
</header>

<body>
    <h1>Sign up</h1>
    <form action="/auth/sign-up" method="post">
        <section>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required>
        </section>
        <section>
            <label for="new-password">Password</label>
            <input id="new-password" name="password" type="password" autocomplete="new-password" required>
        </section>
        <button type="submit">Sign up</button>
    </form>
</body>

</html>